@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap');


/* -------- RESETEO ---------- */
/* -------- RESETEO ---------- */

:root {

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 12px;
}
@media (min-width: 769px) {
    * {
        font-size: 16px;
    }
}

a {
    color: inherit; 
    text-decoration: inherit; 
}



.amarillo {
    background-color: #fcee21;
}


/* -------- FONTS -------- */
/* -------- FONTS -------- */

.coinyRegular {
    font-family: 'Coiny', cursive;
    font-weight: 400;
}

.robotoRegular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.robotoBold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.robotoBlack {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}



/* ---------   ----------- */


/* --------- HEADER ----------- */
/* --------- HEADER ----------- */
header {
    padding: 12px 25px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 2.5em;
    line-height: 100%;
}

header nav ul {
    display: flex;
    justify-content: end;
    list-style: none;

    display: none;  /*  Hasta que lo acomodoe para responsive  */
}

header nav ul li {
    margin-left: 40px;
}

header nav ul li a {
    font-size: 1em;
}

/* --- RESPONSIVE --- */
@media (min-width: 769px) {
    header {
        padding: 25px 50px;

    }
    header nav ul {
        display: flex; /*  Hasta que lo acomodoe para responsive  */
    }
}


/* --------- ABOUT ----------- */
/* --------- ABOUT ----------- */

.sectionAbout {
    /* display: flex;
    column-gap: 50px;
    flex-flow: column nowrap; */
    padding: 12px 25px;
}
.sectionAbout div {
    margin-bottom: 25px;
}

.about1 img {
    width: 100%;
}

.about1 h1 {
    font-size: 3em;
    line-height: 100%;

}

.about1 h2 {
    font-size: 2em;
    line-height: 100%;

}

.about1 h3 {  /* Acomodar esto para que vaya para abajo */
    margin-top: 15px;
}

.about1 h3 span {  /* Acomodar esto para que vaya para abajo */
    font-size: 1.3em;
    line-height: 100%;
}

.about1 p {
    font-size: 1.5em;
    line-height: 100%;
    margin-top: 25px;
}

.about1 p span {
    font-size: 1em;
    line-height: 100%;
} 

.about2 h2 {
    font-size: 1.6em;
    line-height: 100%;
    width: max-content;
}

.about2 p {
    margin-top: 15px;
    font-size: 1.3em;
    line-height: 100%;
}
.about2 p span {
    margin-top: 15px;
    font-size: 1em;
    line-height: 100%;
}


/* --- RESPONSIVE --- */
@media (min-width: 769px) {
    .sectionAbout {
        padding: 25px 50px;
    }
    .about1 {
        display: flex;
        flex-flow: row nowrap;
        gap: 25px;
    } 
    .about1>div {
        flex-basis: 50%;
    }
    .about1 h1 {
        font-size: 5.5em;
    }
    
    .about1 h2 {
        font-size: 3em;
    }
    .about1 P {
        margin-top: 60px;
    }

    .about2 {
        display: flex;
        flex-flow: row nowrap;
        gap: 25px 40px;
    }

    .about2 h2 {
        font-size: 1.6em;
        line-height: 100%;
        width: max-content;
    }
    
    .about2 p {
        font-size: 1.3em;
        line-height: 100%;
    }
    .about2 p span {
        font-size: 1em;
        line-height: 100%;
    }


}





body {
    background-color: #f2f2f2;
}






nav {
    display: flexbox;
    justify-content: space-between;
}

/* -------- SERVICIOS -------- */

.sectionServicios {
    flex-direction: column;
    border-top: 1px solid black;
    padding: 3em 25px;
}

.sectionServicios_img {
    text-align: center;
}

.sectionServicios_img img {
    width: 50%;
    margin-bottom: 20px;
}

.servicios {
    font-size: 2.5em;
    padding-left: .3em;
    margin-bottom: .5em;
}

.servicios_list li{
    list-style-position: inside;
    font-size: 1.5em;
    margin: .5em;
}

/* -------- CONTACTO -------- */

.sectionContacto {
    border-top: 1px solid black;
    padding: 3em 25px;
}

.sectionContacto_textos {
    display: flex;
    flex-direction: column;
}

.sectionContacto_txt1 {
    margin-bottom: 10px;
    background-color: black;
    color: whitesmoke;
    display: inline;
    padding: 0 10px;
}

.sectionContacto_txt2 {
    margin-bottom: 20px;
    display: inline;
    padding: 0 10px;
}

label, input, text {
    display: block;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    margin-bottom: 20px;
    width: 100%;
}

input {
    height: 50px;
}

.grupo_botones {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 1.5em;
    color: whitesmoke;
    background-color: black;
    padding: 5px 10px;
    border: none;
}

.sectionContacto_redes {
    display: flex;
    justify-content: space-around;
    margin: 5em 0;
}

.sectionContacto_redes img {
    width: 18%;
}

.redes_texto {
    color: #808080;
}

/* *************** RESPONSIVE ***************** */
@media (min-width: 769px) {
    * {
        font-size: 16px;
    }

    /* -------- SERVICIOS -------- */

    .sectionServicios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 3em 50px;
    }
    
    .sectionServicios_img {
        width: 40%;
    }
    
    .sectionServicios_img img {
        width: 70%;
    }
    
    .sectionServicios_texto {
        width: 40%;
    }

    /* -------- CONTACTO -------- */

    .sectionContacto {
        padding: 3em 50px;
    }

    .sectionContacto_textos {
        display: flex;
        flex-direction: row;
    }

    label {
        font-size: 1.3em;
    }

    .sectionContacto_txt1 {
        font-size: 3em;
    }

    .sectionContacto_txt2 {
        font-size: 2em;
    }

    .sectionContacto_titulos {
        width: 50%;
    }

    .sectionContacto_txt1 {
        margin-bottom: 20px;
    }

    .sectionContacto_form {
        width: 50%;
        padding: 0 50px;
    }

    button {
        padding: 10px 20px;
    }

    .sectionContacto_redes {    
        margin: 10em 0;
    }

    .sectionContacto_redes img {
        width: 10%;
    }

    .redes_texto {
        font-size: 2em;
    }
}




/* ------- FOOTER -------- */
/* ------- FOOTER -------- */

footer {
    padding: 12px 25px;
    background-color: #fcee21;
    margin-bottom: 20px;
}
footer p {
    display: inline;
    font-size: 2em;
}
footer a {
    display: inline;
    margin-left: 50px;
    font-size: 1.3em;
}

@media (min-width: 769px) {
    footer {
        padding: 25px 50px;
    }
    footer p {
        font-size: 2em;
    }
    footer a {
        font-size: 1.3em;
    }
}