@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700;900&display=swap');


/* -------- RESETEO ---------- */
/* -------- RESETEO ---------- */

:root {

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 12px;
}
@media (min-width: 769px) {
    * {
        font-size: 16px;
    }
}

a {
    color: inherit; 
    text-decoration: inherit; 
}



.amarillo {
    background-color: #fcee21;
}


/* -------- FONTS -------- */
/* -------- FONTS -------- */

.coinyRegular {
    font-family: 'Coiny', cursive;
    font-weight: 400;
}

.robotoRegular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.robotoBold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.robotoBlack {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}



/* ---------   ----------- */


/* --------- HEADER ----------- */
/* --------- HEADER ----------- */
header {
    padding: 12px 25px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

header nav a {
    font-size: 2.5em;
    line-height: 100%;
}

header nav ul {
    display: flex;
    justify-content: end;
    list-style: none;

    display: none;  /*  Hasta que lo acomodoe para responsive  */
}

header nav ul li {
    margin-left: 40px;
}

header nav ul li a {
    font-size: 1em;
}

/* --- RESPONSIVE --- */
@media (min-width: 769px) {
    header {
        padding: 25px 50px;

    }
    header nav ul {
        display: flex; /*  Hasta que lo acomodoe para responsive  */
    }
}


/* --------- ABOUT ----------- */
/* --------- ABOUT ----------- */

.sectionAbout {
    display: flex;
    flex-flow: column nowrap;
    padding: 12px 25px;
}

.sectionAbout img {
    width: 100%;
}



/* --- RESPONSIVE --- */
@media (min-width: 769px) {

}





body {
    background-color: #f2f2f2;
}






nav {
    display: flexbox;
    justify-content: space-between;
}

/* -------- SERVICIOS -------- */

.sectionServicios {
    flex-direction: column;
}

.sectionServicios_img {
    text-align: center;
}

.sectionServicios_img img {
    width: 50%;
}



@media (min-width: 769px) {
    * {
        font-size: 16px;
    }

    .sectionServicios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .servicios {
        font-size: 2.5em;
        padding-left: .3em;
        margin-bottom: 1em;
    }
    
    .sectionServicios_img {
        width: 40%;
        text-align: center;
    }
    
    .sectionServicios_img img {
        width: 70%;
    }
    
    .sectionServicios_texto {
        width: 40%;
    }
    
    .servicios_list li{
        list-style-position: inside;
        font-size: 1.5em;
        margin: .5em;
    }
}
